<%- include('./layout/header'); -%>

<div class="container-fluid">
    <div class="card col-md-10" style="margin: .5rem;">
        <div class="card-header">
            <h5 class="card-title">Events</h5>
            <h6 class="card-subtitle text-muted">Edit an event! - <a href="/events">Back</a></h6>
        </div>
        <div class="card-body">
            <form method="post" url="/edit" id="myform" class="needs-validation" novalidate>
                <input type="hidden" value="<%- event.id %>" name="id">
                <div class="row mb-3">
                    <div class="col-12">
                        <label for="event_name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="event_name" name="event_name" value="<%- event.event_name %>" required>
                        <div class="invalid-feedback">
                            Please provide event name.
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-8">
                        <!-- <input type="text" class="form-control text-center" id="event_location" name="event_location" required> -->
                        <label for="event_location" class="form-label">Location</label>
                        <select class="form-select" aria-label="Default select example" name="event_location" required>
                            <option disabled value="">Select</option>
                            <option value="Russia" <%= event.event_location === 'Russia' ? 'selected' : '' %>>Russia</option>
                            <option value="USA" <%= event.event_location === 'USA' ? 'selected' : '' %>>USA</option>
                            <option value="Japan" <%= event.event_location === 'Japan' ? 'selected' : '' %>>Japan</option>
                        </select>
                        
                        <div class="invalid-feedback">
                            Please select a country.
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="event_date" class="form-label">Date</label>
                        <div class="input-group">
                            <input type="text" class="form-control datetimepicker" id="event_date" name="event_date" value="<%- event.event_date %>" required>
                            <span class="input-group-text">
                                <i class="fa fa-calendar"></i>
                            </span>
                            <div class="invalid-feedback">
                                Please select event date.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-end">
                        <button type="submit" class="btn btn-primary col-1">Edit</button>
                    </div>
                    
                </div>
            
            </form>
        </div>
        <div class="card-footer text-muted text-center">
            Copyright &copy; 2023 Atiqul Hoque
        </div>
    </div>
</div>

<%- include('./layout/scripts'); -%>

<script>
    $('.datetimepicker').datetimepicker({
			format: 'YYYY-MM-DD HH:mm',
            defaultDate: null
		});

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
        .forEach(function (form) {
            form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated')
            }, false)
        })
</script>

<%- include('./layout/footer'); -%>



