<%- include('./layout/header'); -%>

<div class="container-fluid">
    <div class="card col-md-10" style="margin: .5rem;">
        <div class="card-header">
            <h5 class="card-title">Events</h5>
        </div>
        <div class="card-body"> 
            <table id="events" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Sl</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% sl=1 %>
                    <% if(events.length > 0) {
                        events.forEach(event=>{ %>
                            <tr>
                                <td><%- sl %></td>
                                <td><%- event.event_name %></td>
                                <td><%- event.event_location %></td>
                                <td><%- event.event_date %></td>

                               
                            </tr>

                        <% sl++; }) }%>                   
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('./layout/scripts'); -%>

<script>
    $(document).ready(function () {
    $('#events').DataTable({
        scrollX: true,
        "pagingType": "simple_numbers",
        "pageLength": 5
    });
});
</script>

<%- include('./layout/footer'); -%>